@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* -------------------------------------------------------------- Variables ------------------------------------------------------------------------- */
:root {
  --font-weight: 600;
  --font-size: 20px;
  --width: 100%;
  --height: 100vh;
}

/* -------------------------------------------------------------- Colors ------------------------------------------------------------------------- */
:root {
  --first-color: rgb(0, 0, 0, 0.5);
  --second-color: #b900c0;
  --second-shadow-color: rgb(185, 0, 192, 0.7);
  --gradient: linear-gradient(to right, rgb(185, 0, 192) 10%, #fc00ff 100%);
}

/* -------------------------------------------------------------- Font-Style ------------------------------------------------------------------------- */
:root {
  --body-font: "Poppins", sans-serif;
  --index: 10;
}

/* -------------------------------------------------------------- Universal ------------------------------------------------------------------------- */
* {
  scroll-behavior: smooth;
  transition: 0.1s;
}
* p {
  font-size: var(--font-size);
}
/* -------------------------------------------------------------- Base ------------------------------------------------------------------------- */
body {
  width: var(--width);
  height: var(--height);
  font-family: var(--body-font);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: 0.1s;
  background-color: #b6a6b5;
}
/* -------------------------------------------------------------- Navbar ------------------------------------------------------------------------- */

nav {
  box-shadow: 0px 5px 8px var(--first-color);
  z-index: var(--index);
}
.nav-item {
  color: white !important;
  border-bottom: 4px solid transparent;
}
.nav-item:hover {
  border-bottom: 3px solid var(--second-color);
  color: var(--second-color) !important;
}
header h1 {
  color: var(--second-color);
}
/* -------------------------------------------------------------- Sections ------------------------------------------------------------------------- */

section {
  width: var(--width);
  min-height: var(--height);
  transition: 0.1s;
  padding-top: 10%;
  transition: 0.1s;
}

/* --------------------------------------------------------------------Home Sections----------------------------------- */
#home {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.7) 0%,
    rgba(185, 0, 192, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 30px 30px;
}

#logo {
  transition: 0.1s;
}
#logo:hover {
  transform: rotate(360deg) translateZ(0);
  transition: 0.1s;
}
.text {
  text-align: center;
}
#home button {
  background-color: var(--second-color);
  border: none;
}
#home button:hover {
  background-color: black;
  transition: 0.1s;
}
#home h1 {
  font-size: 30px;
}
/* -------------------------------------------------------------- About-Section ------------------------------------------------------------------------- */

.media {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.media i {
  color: white !important;
  margin-top: 80%;
}

#container-fluid {
  align-items: center;
  text-align: center;
}
/* -------------------------------------------------------------- Skills-Section ------------------------------------------------------------------------- */
.skills {
  width: var(--width);
  padding: 50px !important;
}
i {
  cursor: pointer;
  margin: 15px;
  color: var(--second-color);
}
.row i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------------------- Project-Section ------------------------------------------------------------------------- */
.slider {
  width: var(--width);
}
.carousel-item {
  height: 800px;
}
.card img {
  height: 400px;
  width: var(--width);
  object-fit: contain;
}

.card-body p {
  height: 300px;
}
.card-body {
  width: 100%;
  text-align: center;
}
/* -------------------------------------------------------------- Contact-Section ------------------------------------------------------------------------- */
.contact {
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact .btn {
  width: 150px;
  background-color: var(--second-color) !important;
  margin-top: 30px;
  border: none;
  margin-bottom: 5%;
  text-decoration: none !important;
  color: white;
}
.contact .btn:hover {
  background-color: black !important;
  transition: 0.1s;
}

/* -------------------------------------------------------------- Footer-Section ------------------------------------------------------------------------- */
.real-time {
  width: 200px;
  justify-content: space-around;
}
.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
